<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds allow cleartext HTTP so instrumented tests can talk to an
     on-device MockWebServer at http://localhost. Release builds are HTTPS-only. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:usesCleartextTraffic="true" />
</manifest>
